@using Microsoft.AspNetCore.Http
<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/images/adminlte/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">@Context.Session.GetString("Username")</a>
        </div>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="/Feedbacks/" class="nav-link">
                    <i class="nav-icon fas fa-home"></i>
                    <p>
                        Home
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Logout" class="nav-link">
                    <i class="nav-icon fas fa-sign-in-alt"></i>
                    <p>
                        Logout
                    </p>
                </a>
            </li>
            <li class="nav-header">NAVIGATION</li>
            <li class="nav-item has-treeview">
                <a href="/Questions/" class="nav-link">
                    <i class="nav-icon fas fa-question-circle"></i>
                    <p>
                        Management Data
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Questions/" class="nav-link">
                            <i class="nav-icon fas fa-question-circle"></i>
                            <p>
                                Questions
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Options/" class="nav-link">
                            <i class="nav-icon fas fa-filter"></i>
                            <p>
                                Options
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Points/" class="nav-link">
                            <i class="nav-icon fas fa-plus"></i>
                            <p>
                                Points
                            </p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>